{% load static %}
<div class="row">
    <div class="col-md-12">
       <div class="card">
          <div class="card-header">
              <h4 class="card-title">Histórico</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                id="multi-filter-select"
                class="display table table-striped table-hover"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>PosModificación</th>
                    <th>PreModificación</th>
                    <th>F. Creación</th>
                    <th>Usuario Responsable</th>
                    <th>Operación</th>
                  </tr>
                </thead>
                <tbody>
                {% for company in object_list %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ company.id_company_history }}</td>
                      <td>
                          <ul>
                              <li>ID: {{ company.id_company }}</li>
                              <li>Nombre: {{ company.new_data.name }}</li>
                              <li>Estado:
                                    <strong class="{% if company.new_data.status == 'ACTIVE' %}text-success{% else %}text-danger{% endif %}">
                                        {% if company.new_data.status == 'ACTIVE' %}Activo{% else %}Inactivo{% endif %}
                                    </strong>
                              </li>
                          </ul>
                      </td>
                      <td>
                          <ul>
                              {% if not company.operation == 'create' %}
                                <li>ID: {{ company.id_company }}</li>
                                <li>Nombre: {{ company.old_data.name }}</li>
                                <li>Estado:
                                    <strong class="{% if company.old_data.status == 'ACTIVE' %}text-success{% else %}text-danger{% endif %}">
                                        {% if company.old_data.status == 'ACTIVE' %}Activo{% else %}Inactivo{% endif %}
                                    </strong>
                                </li>
                              {% else %}
                                <li>No hay registros anteriores</li>
                              {% endif %}
                          </ul>
                      </td>
                      <td>{{ company.timestamp }}</td>
                      <td>{{ company.user_login }}</td>
                      <td class="{% if company.operation == 'create' %}text-success{% elif company.operation == 'update' %}text-primary{% else %}text-danger{% endif %}">
                          {% if company.operation == 'create' %}Creación{% elif company.operation == 'update' %}Actualización{% else %}Cambio de estado{% endif %}
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>


