{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Tintas{% endblock %}

{% block historic %}

<a href="#" class="btn btn-label-success btn-round me-2">Reporte</a>
<a href="{% url 'inks_deleted_records' %}" class="btn btn-label-danger btn-round me-2">Registros Eliminados</a>
<a href="{% url 'inks_history' %}" class="btn btn-label-info btn-round me-2">Histórico</a>

{% endblock %}

{% block content %}

<!--  FORM -->
<div class="row">
    {% include 'components/inks_form.html' %}
</div>
<!-- END FORM  -->


<!-- DATA TABLE ACTIVE -->
{% include 'components/inks_datatable_active.html' %}
<!-- END DATA TABLE ACTIVE-->

{% endblock %}


{% block section_scripts %}
<!-- Datatables -->
<script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/datatables/datatables_def.js' %}"></script>
<script src="{% static 'assets/js/plugin/sweetalert/sweetalert_popup.js' %}"></script>

{% endblock %}