<form method="post">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2">
                    <div>
                        <div class="card-title">
                            Acción {% if id_official %}Actualizar{% else %}Crear{% endif %}

                        </div>
                    </div>
                    <div class="ms-md-auto py-2 py-md-0">
                        {% if id_official %}
                        <a href="{% url 'official_list' %}" class="btn btn-secondary btn-round">Ir a Crear</a>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                    </div>
                </div>

            </div>

            <div class="card-body">
                <div class="row">
                    {% if id_official %}
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="disableinput">ID.</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="disableinput"
                                    placeholder=""
                                    value="{{ id_official }}"
                                    disabled
                            />
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Nombres</label>
                            {{ form.first_names }}
                            {% if form.first_names.errors %}
                            <div class="text-danger">{{ form.first_names.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Apellido Paterno</label>
                            {{ form.pather_surname }}
                            {% if form.pather_surname.errors %}
                            <div class="text-danger">{{ form.pather_surname.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Apellido Materno</label>
                            {{ form.mather_surname }}
                            {% if form.mather_surname.errors %}
                            <div class="text-danger">{{ form.mather_surname.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Rut. <strong class="text-primary" style="font-size: 12px">(Sin puntos, con
                                guión)</strong></label>
                            {{ form.rut }}
                            {% if form.rut.errors %}
                            <div class="text-danger">{{ form.rut.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Correo.</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Departamento.</label>
                            {{ form.departament }}
                            {% if form.departament.errors %}
                            <div class="text-danger">{{ form.departament.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


