{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Registros Habilitados</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table
                            id="multi-filter-select"
                            class="display table table-striped table-hover"
                    >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Rut</th>
                            <th>Correo</th>
                            <th>Departamento</th>
                            <th>Establecimiento</th>
                            <th>F. Modificación</th>
                            <th>F. Creación</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for official in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ official.id_official }}</td>
                            <td>{{ official.first_names }} {{ official.pather_surname }} {{ official.mather_surname }}
                            </td>
                            <td>{{ official.rut }}</td>
                            <td>{{ official.email }}</td>
                            <td>{{ official.departament.name }}</td>
                            <td>{{ official.departament.establishment.name }}</td>
                            <td>{{ official.updated_at }}</td>
                            <td>{{ official.created_at }}</td>
                            <td><span class="badge badge-success">ACTIVO</span></td>
                            <td>
                                <a href="{% url 'official_update' official.id_official %}"
                                   class="btn btn-primary p-1">
                                    <img src="{% static 'assets/img/icons/update-icon.svg' %}" alt="" height="20px"
                                         width="20px">
                                </a>
                                <a href="{% url 'official_toggle_status' official.id_official %}"
                                   class="btn btn-danger p-1 toggle-status-btn">
                                    <img src="{% static 'assets/img/icons/trash-icon.svg' %}" alt="" height="20px"
                                         width="20px">
                                </a>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


