{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for message in messages %}
        {% if 'auth_success' in message.tags %}
        $.notify({
            message: "{{ message|escapejs }}"
        }, {
            type: "success",
            delay: 5000,
            placement: {
                from: "top",
                align: "right"
            }
        });
        {% else %}
        var tipo = "{{ message.tags }}";
        var titulo = "";
        var icono = "success";

        switch (tipo) {
            case "error":
                titulo = "Error";
                icono = "error";
                break;
            case "warning":
                titulo = "Advertencia";
                icono = "warning";
                break;
            case "info":
                titulo = "Información";
                icono = "info";
                break;
            default:
                titulo = "Éxito";
                icono = "success";
        }

        swal({
            title: titulo,
            text: "{{ message|escapejs }}",
            icon: icono,
            buttons: {
                confirm: {
                    className: 'btn btn-' + icono,
                    text: "Aceptar"
                }
            }
        });
        {% endif %}
        {% endfor %}
    });
</script>
{% endif %}
