{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Tipos de Soportes{% endblock %}

{% block historic %}

<a href="#" class="btn btn-label-success btn-round me-2">Reporte</a>
<a href="{% url 'soporte_deleted_records' %}" class="btn btn-label-danger btn-round me-2">Registros
    Eliminados</a>
<a href="{% url 'soporte_list' %}" class="btn btn-label-info btn-round me-2">Mantenedor</a>
{% endblock %}

{% block content %}

<!-- DATA TABLE ACTIVE -->
{% include 'components/soporte_datatable_history.html' %}
<!-- END DATA TABLE ACTIVE-->


{% endblock %}


{% block section_scripts %}
<!-- Datatables -->
<script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/datatables/datatables_def.js' %}"></script>

{% endblock %}