<form method="post">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2">
                    <div>
                        <div class="card-title">
                            Stock de: {{ view.article.name }}
                        </div>
                    </div>
                    <div class="ms-md-auto py-2 py-md-0">
                        <a href="{% url 'article_list' %}" class="btn btn-secondary btn-round">Ir a Crear</a>
                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if article.id_article %}
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="disableinput">ID.</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="disableinput"
                                    placeholder=""
                                    value="{{ article.id_article }}"
                                    disabled
                            />
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <label>Cantidad de stock de {{ view.article.name }}.</label>
                            {{ form.stock }}
                            {% if form.stock.errors %}
                            <div class="text-danger">{{ form.stock.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


