{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Impresoras{% endblock %}

{% block historic %}
<a href="#" class="btn btn-label-success btn-round me-2">Reporte</a>
<a href="{% url 'printer_list' %}" class="btn btn-label-info btn-round me-2">Mantenedor</a>
{% endblock %}

{% block content %}

<!-- DATA TABLE INACTIVE -->
{% include 'components/printer_datatable_inactive.html' %}
<!-- END DATA TABLE INACTIVE-->
{% endblock %}


{% block section_scripts %}
<!-- Datatables -->
<script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/datatables/datatables_def.js' %}"></script>
<script src="{% static 'assets/js/plugin/sweetalert/sweetalert_popup.js' %}"></script>

{% endblock %}