{% load static %}
<div class="row">
    <div class="col-md-12">
       <div class="card">
          <div class="card-header">
              <h4 class="card-title">Histórico</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                id="multi-filter-select"
                class="display table table-striped table-hover"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Modificación</th>
                    <th>F. Creación</th>
                    <th>Usuario Responsable</th>
                    <th>Operación</th>
                  </tr>
                </thead>
                <tbody>
                {% for type_plan in object_list %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ type_plan.id_type_plan_history }}</td>
                      <td>
                          <ul>
                              <li>ID: {{ type_plan.id_type_plan }}</li>
                              <li>Nombre: {{ type_plan.data.name }}</li>
                              <li>Descripción: {{ type_plan.data.description }}</li>
                              <li>Estado:
                                    <strong class="{% if type_plan.data.status == 'ACTIVE' %}text-success{% else %}text-danger{% endif %}">
                                        {% if type_plan.data.status == 'ACTIVE' %}Activo{% else %}Inactivo{% endif %}
                                    </strong>
                              </li>
                          </ul>
                      </td>
                      <td>{{ type_plan.timestamp }}</td>
                      <td>{{ type_plan.user_login }}</td>
                      <td>
                          <span class="badge {% if type_plan.operation == 'create' %}badge-success{% elif type_plan.operation == 'update' %}badge-primary{% else %}badge-warning{% endif %}">
                              {% if type_plan.operation == 'create' %}Creación{% elif type_plan.operation == 'update' %}Actualización{% else %}Cambio de estado{% endif %}
                          </span>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>


